* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.dropbtn {
  background-color: #f0f5fb;
  color: #7e98ba;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  width: 376px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding-right: 10px;
  padding-left: 10px;
  opacity: 0.9;
  transition: 0.3s ease;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #f0f5fb;
  opacity: 1;
}
.dropbtn:after {
  background-color: white;
  opacity: 1;
}
.dropbtn:visited {
  background-color: white;
  opacity: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
  /* z-index: 1000; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #142a51;
  color: #dae2ef;
  min-width: 376px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  border-radius: 12px;
  animation: mymove 0.3s ease alternate;
  /* z-index: -1; */
}

@keyframes mymove {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.arrow-down {
  width: 10px;
  height: 10px;
}
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  transition: 0.3s all ease;
  cursor: pointer;
}
.section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  transition: 0.3s all ease;
  cursor: pointer;
}
.section:hover {
  background-color: #1c3663;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.padding {
  padding: 20px;
}
.paddingr {
  padding-right: 150px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  flex-wrap: wrap;
}
.date-picker {
  background-color: #ffffff;
  color: #7e98ba;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  width: 376px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  outline: none;
}
input [type="date"] {
  background: #f0f5fb;
  border: none;
  outline: none;
}
h4 {
  font-size: 13px;
  font-weight: 500;
}
label {
  font-size: 13px;
  cursor: pointer;
}
.pr {
  padding-right: 162px;
}
.pr1 {
  padding-right: 100px;
}
.cl {
  color: #a0b5d9;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_box {
  background: #1c3663;
  position: relative;
  /* padding: 15px; */
  border-radius: 8px;
  display: flex;
  margin: 5px;
}

.search_box .search_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1c3663;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f8bbc;
  /* margin-right: 15px; */
  cursor: pointer;
}

.search_box .input_search {
  outline: none;
  border: 0;
  background: #1c3663;
  border-radius: 50px;
  /* padding: 15px 20px; */
  width: 300px;
  height: 50px;
  color: #6f8bbc;
  font-size: 13px;
  font-weight: 400;
}

::placeholder {
  color: #6f8bbc;
}

::-webkit-input-placeholder {
  color: #6f8bbc;
}

:-ms-input-placeholder {
  color: #6f8bbc;
}

.main {
  display: block;
  position: relative;
  cursor: pointer;
}

/* Hide the default checkbox */
input[type="checkbox"] {
  visibility: hidden;
}

/* Creating a custom checkbox
based on demand */
.cb {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #041532;
  border-radius: 4px;
}

/* Specify the background color to be
shown when checkbox is checked */
.main input:checked ~ .cb {
  background-color: #346bd1;
  border-radius: 4px;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.cb:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.main input:checked ~ .cb:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
showing only two border to make it look
like a tickmark */
.main .cb:after {
  left: 6px;
  bottom: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.line {
  border-top: 1px solid #25406d;
  margin: 0px;
}
